<html>
<title>
    Teddy the 2nd web interface
</title>

<body>
    <h2>
        Teddy the 2nd web interface
    </h2>

    <form action="{{ url_for('speak') }}" method="post">
        <textarea name="text_to_speak" cols="100" rows="10"></textarea>
        <br>
        {% for i in range(languages.count()): %}
            {
                lang = languages[i]
                selected = False
                if (i == 0):
                    selected = True
            }
            <input type="radio" name="lang_code" value="{{lang['lang_code']}}"> {{lang['name']}}<br>
        {% endfor %}
        <br><br>
        <input type="submit" value="Speak">
    </form>
</body>

</html>