<html>
<title>
    Teddy the 2nd web interface
</title>

<body>
    <h2>
        Teddy the 2nd web interface
    </h2>

    <form action="{{ url_for('speak') }}" method="post">
        <textarea name="text_to_speak" cols="100" rows="10"></textarea>
        <br>
        {% for lang_code in lang_codes %}
            <input type="radio" name="lang_code" value="{{lang_code['code']}}"> {{lang_code['name']}}<br>
        {% endfor %}
        <br><br>
        <input type="submit" value="Speak">
    </form>
</body>

</html>