<html>
<title>
    Teddy the 2nd web interface
</title>

<body>
    <h2>
        Teddy the 2nd web interface
    </h2>

    <form action="{{ url_for('speak') }}" method="post" onsubmit="submitButton.style.visibility = 'hidden'; return true;">
        <textarea name="text_to_speak" cols="80" rows="10"></textarea>
        <br>
        {% for i in range(languages | length): %}
        {%  if (i == selected_lang) %}
        <input checked="true" type="radio" name="lang_code" value="{{languages[i]['lang_code']}}"> {{languages[i]['name']}}<br>
        {% endif %}
        {%  if (not (i == selected_lang)) %}
        <input type="radio" name="lang_code" value="{{languages[i]['lang_code']}}"> {{languages[i]['name']}}<br>
        {% endif %}
        {% endfor %}
        <br><br>
        <input type="submit" name='submitButton' value="Speak">
    </form>

    <br><br>
    <hr>

    <form action="{{ url_for('save_settings') }}" method="post"  onsubmit="submitButton.style.visibility = 'hidden'; return true;">
        When doing object recognition, use:
        <br>
        {% for i in range(languages | length): %}
        {%  if (i == vision_selected_lang) %}
        <input checked="true" type="radio" name="lang_code" value="{{languages[i]['lang_code']}}"> {{languages[i]['name']}}<br>
        {% endif %}
        {%  if (not (i == vision_selected_lang)) %}
        <input type="radio" name="lang_code" value="{{languages[i]['lang_code']}}"> {{languages[i]['name']}}<br>
        {% endif %}
        {% endfor %}
        <br><br>
        <input type="submit" name="submitButton" value="Save Settings">
    </form>

    <br><br>
    <hr>

    <form action="{{ url_for('shutdown') }}" method="post"  onsubmit="submitButton.style.visibility = 'hidden'; return true;">
            It is important not to unplug Teddy, but use below button for shutdown to allow the SD card to flush.<br>
            <input type="submit" name="submitButton" value="Shutdown Teddy">
        </form>
</body>

</html>